body{margin:auto;width:600px;height:1200px}
.a{width:600px;height:70px;background:yellow}
.b{width:600px;height:50px;background:red;float:left}
.c{width:600px;height:150px;background:blue;float:left}
.d{width:200px;height:250px;background:pink;float:left}
.e{width:200px;height:250px;background:green;float:left}
.f{width:200px;height:250px;background:pink;float:left}
.g{width:600px;height:150px;background:orange;float:left}
.h{width:600px;height:200px;background:red;float:left}

p{font-size:15px; color:black; text-align:justify; font-family:Impact} 
h2{color:orange}
h3{color:red}

ul li a{text-decoration: none;float:left;background:black;padding:15px;color:yellow;font-size:15px}
li {display:inline}
ul li a:hover{background:green;margin-top:5px;padding-bottom:10px;}